body {
    font-family: Arial, sans-serif;
    margin: 0;
}

main {
    padding: 1rem;
}

#cards-container {
    display: grid;
    grid-template-areas:
        "card";
    gap: 1rem;
}

#cards-container div {
    border: 1px solid #ccc;
    padding: 1rem;
}