@media (min-width: 768px) {
    #cards-container {
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
    }
}

@media (min-width: 1024px) {
    #cards-container {
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 card8";
    }

    img:hover {
        transform: scale(1.05);
        transition: 0.3s;
    }
}